<div id="space"></div>
    <!-- Footer -->
<footer class="bg-dark fixed-bottom" id="main-footer">
        <div class="row p-3">
            <div class="col text-right">
                 Copyright &copy; <span id="year"></span>
            </div>
        </div>
</footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous"></script>
<script>
    $('[data-toggle="tooltip"]').tooltip()
    document.getElementById('year').textContent = new Date().getFullYear()
    $('#startAt').datetimepicker({
        step : 30,
        format : 'Y-m-d H:i' ,
        yearStart : new Date().getFullYear(),
        yearEnd : new Date().getFullYear() + 1,
        theme : 'dark',
    })
    $('#endAt').datetimepicker({
        step : 30,
        format : 'Y-m-d H:i' ,
        yearStart : new Date().getFullYear(),
        yearEnd : new Date().getFullYear() + 1,
        theme : 'dark',
    })
</script>
</html>